.App {
  
  margin: 50px;
  display:flex ;
  flex-direction: column;
  align-items:center ;
  
}
.button{
  margin-top: 50px;
  width:300px;
}
*{
  background-color: rgb(252, 252, 125);
}
.table{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.title{
  text-align: center;
  color: rgb(59, 162, 247);
}
.heads{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  color: rgb(255, 64, 64);
}
.result{
  background-color: red;
  margin: 50px;
  font-size: 50px;
  border-radius: 20px;
}
